<div>
  <section id="name-alias" class="flex-horizontal">

    <img src="{{actor.img}}" data-edit="img" data-action="editImage" title="{{actor.name}}" height="100" width="100"/>

    <div class="grow-two">
      <div id="name">
        <label for="character-{{_id}}-name">{{localize "BITD.Name"}}</label>
        <input type="text" id="character-{{_id}}-name" name="name" value="{{actor.name}}">
      </div>

      <div id="character-traits" class="flex-column">

		    <div class="item-block flex-horizontal">
          <div class="item-class-label"><a class="item-add-popup" data-action="addItemPopup" data-distinct="true" data-item-type="class">{{localize "BITD.Class"}}</a></div>
          {{#each items as |item id|}}
            {{#if (eq item.type "class")}}
              <div class="item flex-horizontal" data-item-id="{{item._id}}">
                <div class="item-body flex-horizontal" data-action="openItem">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                  <div data-tooltip="{{item.system.description}}">
                    <a class="item-name">{{item.name}}</a>
                  </div>
                </div>
                <a class="item-control item-delete" data-action="deleteItem" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                <a class="item-control item-post" data-action="postItem" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
              </div>
            {{/if}}
          {{/each}}
        </div>

        <div class="item-block flex-horizontal">
          <div class="item-class-label"><a class="item-add-popup" data-action="addItemPopup" data-distinct="true" data-item-type="heritage">{{localize "BITD.Heritage"}}</a></div>
          {{#each items as |item id|}}
            {{#if (eq item.type "heritage")}}
              <div class="item flex-horizontal" data-item-id="{{item._id}}">
                <div class="item-body flex-horizontal" data-action="openItem">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                  <div data-tooltip="{{item.system.description}}">
                    <a class="item-name">{{item.name}}</a>
                  </div>
                </div>
                <a class="item-control item-delete" data-action="deleteItem" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                <a class="item-control item-post" data-action="postItem" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
              </div>
            {{/if}}
          {{/each}}
        </div>

        <div class="item-block flex-horizontal">
          <div class="item-class-label"><a class="item-add-popup" data-action="addItemPopup" data-distinct="true" data-item-type="background">{{localize "BITD.Background"}}</a></div>
          {{#each items as |item id|}}
            {{#if (eq item.type "background")}}
            <div class="item flex-horizontal" data-item-id="{{item._id}}">
              <div class="item-body flex-horizontal" data-action="openItem">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                <div data-tooltip="{{item.system.description}}">
                  <a class="item-name">{{item.name}}</a>
                </div>
              </div>
              <a class="item-control item-delete" data-action="deleteItem" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
              <a class="item-control item-post" data-action="postItem" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
            </div>
            {{/if}}
          {{/each}}
        </div>

        <div class="item-block flex-horizontal">
          <div class="item-class-label"><a class="item-add-popup" data-action="addItemPopup" data-item-type="vice">{{localize "BITD.Vices"}}</a></div>
          <div class="flex-vertical">
		        {{#each items as |item id|}}
              {{#if (eq item.type "vice")}}
              <div class="item flex-horizontal" data-item-id="{{item._id}}">
                <div class="item-body flex-horizontal" data-action="openItem">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                  <div data-tooltip="{{item.system.description}}">
                    <a class="item-name">{{item.name}}</a>
                  </div>
                </div>
                <a class="item-control item-delete" data-action="deleteItem" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                <a class="item-control item-post" data-action="postItem" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
              </div>
              {{/if}}
            {{/each}}
		      </div>
        </div>

		    <div class="item-block flex-horizontal">
          <div class="item-class-label">
            <a class="flag-add-popup" data-action="addFlagPopup" data-distinct="true" data-item-type="ship">{{localize "BITD.Ship"}}</a>
          </div>
          {{#each shipActor as |item id|}}
            {{#unless (eq item.name undefined)}}
              <div class="item flex-horizontal" data-item-id="{{item.id}}" data-item-type="{{item.type}}">
                <div class="ship-body flex-horizontal" data-action="openShip">
                  <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                  <div>
                    <a class="item-name">{{item.name}}</a>
                  </div>
                </div>
                <a class="item-control flag-delete" data-action="deleteFlag" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                <a style="visibility:hidden" class="item-control item-post" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
              </div>
            {{/unless}}
          {{/each}}
        </div>
	    </div>
    </div>

    <div class="grow-two">
      <div id="alias">
        <label for="character-{{_id}}-alias">{{localize "BITD.Alias"}}</label>
        <input type="text" id="character-{{_id}}-alias" name="system.alias" value="{{system.alias}}">
      </div>

	    <div id="look">
        <label for="character-{{_id}}-look">{{localize "BITD.Look"}}</label>
        <input type="text" id="character-{{_id}}-look" name="system.look" value="{{system.look}}">
      </div>

      {{> "systems/scum-and-villainy/templates/parts/coins.html" actor=this}}
    </div>

  </section>


  {{!-- Stress and Trauma --}}
  <div id="stress-trauma" class="section big-teeth-section">
    <div id="character-{{_id}}-stress" class="big-teeth">
      {{#multiboxes system.stress.value}}
        <input type="radio" id="character-{{_id}}-stress-0" name="system.stress.value" value="0" dtype="Radio">
        <div id="stress-vice">
	        <label class="black-label" for="character-{{_id}}-stress-0">{{localize system.stress.name}}</label>
          <span class="black-label roll-die-attribute rollable-text" data-action="rollAttribute" data-roll-attribute="vice">{{localize "BITD.Vice"}}</span>
	      </div>
        {{#times_from 1 system.stress.max}}
          <input type="radio" id="character-{{../_id}}-stress-{{this}}" name="system.stress.value" value="{{this}}" dtype="Radio">
          <label for="character-{{../_id}}-stress-{{this}}"></label>
        {{/times_from}}
      {{/multiboxes}}
    </div>

    <div id="character-{{_id}}-trauma-container" class="small-teeth-container">
      {{#traumacounter system.trauma.list system.trauma.max}}
        <div id="character-{{_id}}-trauma" class="small-teeth-wrap">
          <label class="black-label" for="character-{{_id}}-trauma-counter-0">{{localize system.trauma.name}}</label>
          <div id="trauma-teeth" class="small-teeth">
            <input type="radio" id="character-{{_id}}-trauma-counter-0" name="system.trauma.value" value="0" data-dtype="Number">
            {{#times_from 1 system.trauma.max}}
              <input type="radio" id="character-{{../_id}}-trauma-counter-{{this}}" name="system.trauma.value" value="{{this}}" disabled>
              <label for="character-{{../_id}}-trauma-counter-{{this}}"></label>
            {{/times_from}}
          </div>
        </div>
      {{/traumacounter}}
    </div>

    <div id="trauma-list">
      {{#each system.trauma.list}}
        <div data-tooltip="{{localize (concat "BITD.Trauma" (pc @key) "Tip")}}">
          <label>
            <input type="checkbox" data-dType="Boolean" name="system.trauma.list.{{@key}}" value="{{this}}" {{checked this}}>
            <span class="checkmark">{{localize (concat "BITD.Trauma" (pc @key) )}}</span>
          </label>
        </div>
      {{/each}}
    </div>

  </div>

  {{!-- Harm, Healing and Armor --}}
  <section id="harm-armor">
    <div id="character-harm">
      <table>
        <thead>
          <th class="black-white" colspan="4">{{localize "BITD.Harm"}}</th>
          <th class="black-white"><label>{{localize "BITD.Healing"}}</label></th>
          <th class="black-white">{{localize "BITD.Armor"}}</th>
        </thead>
        <tbody>
          <tr>
            <td>3</td>
            <td colspan="2">
              <input type="text" id="character-{{_id}}-harm-3-1" name="system.harm.heavy.one" value="{{system.harm.heavy.one}}">
            </td>
            <td>{{localize "BITD.NeedHelp"}}</td>
            <td rowspan="3">
              <div id="character-health-clock">
				        {{{sav-clock "system.healing-clock" system.healing-clockMax system.healing-clock _id}}}
              </div>
            </td>
            <td rowspan="3" id="character-armor-uses">
              <div>
                <div>
                  <label for="armor-uses-armor">{{localize "BITD.Armor"}}</label>
                  <input id="armor-uses-armor" type="checkbox" data-dType="Boolean" name="system.armor-uses.armor" {{checked system.armor-uses.armor}}>
                </div>
                <div>
                  <label for="armor-uses-heavy">{{localize "BITD.Heavy"}}</label>
                  <input id="armor-uses-heavy" type="checkbox" data-dType="Boolean" name="system.armor-uses.heavy" {{checked system.armor-uses.heavy}}>
                </div>
                <div>
                  <label for="armor-uses-special">{{localize "BITD.Special"}}</label>
                  <input id="armor-uses-special" type="checkbox" data-dType="Boolean" name="system.armor-uses.special" {{checked system.armor-uses.special}}>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <input type="text" id="character-{{_id}}-harm-2-1" name="system.harm.medium.one" value="{{system.harm.medium.one}}">
            </td>
            <td>
              <input type="text" id="character-{{_id}}-harm-2-2" name="system.harm.medium.two" value="{{system.harm.medium.two}}">
            </td>
            <td>-1D</td>
          </tr>
          <tr>
            <td>1</td>
            <td>
              <input type="text" id="character-{{_id}}-harm-1-1" name="system.harm.light.one" value="{{system.harm.light.one}}">
            </td>
            <td>
              <input type="text" id="character-{{_id}}-harm-1-2" name="system.harm.light.two" value="{{system.harm.light.two}}">
            </td>
            <td>{{localize "BITD.LessEffect"}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>




  {{!-- Attributes --}}
  <section class="flex-horizontal">

    <div class="tab-content flex-vertical grow-two">

      <nav class="tabs flex-horizontal">
        <a class="item {{tabs.abilities.cssClass}}" data-action="tab" data-group="primary" data-tab="abilities">{{localize tabs.abilities.label}}</a>
        <a class="item {{tabs.loadout.cssClass}}" data-action="tab" data-group="primary" data-tab="loadout">{{localize tabs.loadout.label}}</a>
		    <a class="item {{tabs.friends.cssClass}}" data-action="tab" data-group="primary" data-tab="friends">{{localize tabs.friends.label}}</a>
        <a class="item {{tabs.[character-notes].cssClass}}" data-action="tab" data-group="primary" data-tab="character-notes">{{localize tabs.[character-notes].label}}</a>
        {{#if isGM}}
          <a class="item {{tabs.effects.cssClass}}" data-action="tab" data-group="primary" data-tab="effects">{{localize tabs.effects.label}}</a>
        {{/if}}
        <a class="item {{tabs.[all-character-items].cssClass}}" data-action="tab" data-group="primary" data-tab="all-character-items">{{localize tabs.[all-character-items].label}}</a>
      </nav>

      <div id="abilities" class="tab flex-vertical {{tabs.abilities.cssClass}}" data-tab="abilities" data-group="primary">
        <div class="label-stripe">
          <p><label for="character-{{_id}}-experience-0">{{localize "BITD.Abilities"}}</label>
          <a class="item-add-popup" data-action="addItemPopup" data-item-type="ability" data-limiter="{{system.character_class}}"><i class="fas fa-plus-square"></i></a></p>
          <div id="character-experience" class="teeth-experience">
            <label for="character-{{_id}}-experience-0" data-tooltip="{{localize 'BITD.ClassExpClueDescription'}}">{{localize "BITD.PExperience"}}<i class="fab fa-creative-commons-zero nullifier"></i></label>
            {{#multiboxes system.experience}}
              <input type="radio" id="character-{{_id}}-experience-0" name="system.experience" value="0" dtype="Radio">
              {{#times_from 1 system.experienceMax}}
                <input type="radio" id="character-{{../_id}}-experience-{{this}}" name="system.experience" value="{{this}}" dtype="Radio">
                <label for="character-{{../_id}}-experience-{{this}}"></label>
              {{/times_from}}
            {{/multiboxes}}
          </div>
        </div>

        <div id="abilities-list">
          {{#each items as |item|}}
          {{#if (eq item.type "ability")}}
            <div class="item flex-horizontal" data-item-id="{{item._id}}">
              <div class="item-body flex-horizontal" data-action="openItem">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
				        <a class="item-name">{{item.name}}</a>
                <div class="item-description">{{{item.system.description}}}</div>
              </div>
              <a class="item-control item-delete" data-action="deleteItem" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
              <a class="item-control item-post" data-action="postItem" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
            </div>
          {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-action="addItemPopup" data-item-type="ability">{{localize "BITD.AddAbility"}}</a></div>
        </div>
      </div>

      <div id="loadout" class="tab flex-vertical {{tabs.loadout.cssClass}}" data-tab="loadout" data-group="primary">
    		<div class="label-stripe{{#if (eq system.loadout.load_level "BITD.OverMax")}}-red{{/if}}">
          <p>
            {{localize "BITD.Loadout"}}:  {{system.loadout.current}} / {{localize system.loadout.load_level}}
            <a class="item-add-popup" data-action="addItemPopup" data-item-type="item"><i class="fas fa-plus-square"></i></a>
          </p>
        </div>
        <div id="loadout-list">
          {{#each items as |item id|}}
          {{#if (eq item.type "item")}}
            <div class="item flex-horizontal" data-item-id="{{item._id}}">
              <div class="item-body flex-horizontal" data-action="openItem">
                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                <a class="item-name">{{item.name}}</a>
                <div class="item-description">{{{item.system.description}}}</div>
              </div>
              <a class="item-control item-delete" data-action="deleteItem" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
              <a class="item-control item-post" data-action="postItem" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
            </div>
          {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-action="addItemPopup" data-item-type="item">{{localize "BITD.AddItem"}}</a></div>
        </div>
      </div>

      <div id="friends" class="tab flex-vertical {{tabs.friends.cssClass}}" data-tab="friends" data-group="primary">
		    <div class="label-stripe">
		      <p>{{localize "BITD.Friends"}}
          <a class="item-add-popup" data-action="addItemPopup" data-item-type="friend"><i class="fas fa-plus-square"></i></a></p>
        </div>
        <div id="friend-list">
          {{#each items as |item id|}}
            {{#if (eq item.type "friend")}}
		    	    <div class="friend-tracker">
			          {{#multiboxes item.system.status.value}}
				          <input class="update-box" data-action="updateBox" data-utype="status" data-item="{{item._id}}" data-value="0" type="radio" id="friend-{{item._id}}-status-0" value="0" dtype="Radio">
				          <label for="friend-{{item._id}}-status-0"></label>
				          <input class="update-box" data-action="updateBox" data-utype="status" data-item="{{item._id}}" data-value="1" type="radio" id="friend-{{item._id}}-status-1" value="1" dtype="Radio">
				          <label for="friend-{{item._id}}-status-1"></label>
				          <input class="update-box" data-action="updateBox" data-utype="status" data-item="{{item._id}}" data-value="2" type="radio" id="friend-{{item._id}}-status-2" value="2" dtype="Radio">
				          <label for="friend-{{item._id}}-status-2"></label>
			          {{/multiboxes}}
                <div class="item flex-horizontal" data-item-id="{{item._id}}">
      			      <div class="item-body flex-horizontal" data-action="openItem">
				          <a class="item-name">{{item.name}}</a>
                  <div class="item-description">{{{item.system.description}}}</div>
                </div>
                <a class="item-control item-delete" data-action="deleteItem" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
                <a class="item-control item-post" data-action="postItem" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
              </div>
			      </div>
            {{/if}}
          {{/each}}
          <div class="item-class-label"><a class="item-add-popup" data-action="addItemPopup" data-item-type="friend">{{localize "BITD.AddFriend"}}</a></div>
        </div>
      </div>

      <div class="tab flex-vertical {{tabs.[character-notes].cssClass}}" data-tab="character-notes" data-group="primary">
        <div class="label-stripe">
          <p>{{localize "BITD.Notes"}}</p>
        </div>
        <prose-mirror name="system.description" value="{{system.description}}" toggled{{#unless editable}} disabled{{/unless}}>{{{enrichedDescription}}}</prose-mirror>
      </div>

      {{#if isGM}}
        <div id="effects" class="tab effects flex-vertical {{tabs.effects.cssClass}}" data-tab="effects" data-group="primary">
          <div class="label-stripe">
            <p>{{localize "BITD.Effects"}}</p>
          </div>
          {{> "systems/scum-and-villainy/templates/parts/active-effects.html"}}
        </div>
      {{/if}}

      <div id="all-items" class="tab grow-two flex-vertical {{tabs.[all-character-items].cssClass}}" data-tab="all-character-items" data-group="primary">
        <div class="label-stripe">
          <p><label>{{localize "BITD.AllItems"}}</label></p>
        </div>
        {{#each items as |item id|}}
        <div class="item flex-horizontal" data-item-id="{{item._id}}">
          <div class="item-body item-sheet-open flex-horizontal" data-action="openItem">
            <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
            <a class="item-name">{{item.name}}</a>
          </div>
          <a class="item-control item-delete" data-action="deleteItem" title="{{localize 'BITD.TitleDeleteItem'}}"><i class="fas fa-trash"></i></a>
          <a class="item-control item-post" data-action="postItem" title="{{localize 'BITD.TitlePostItem'}}"><i class="fas fa-comment"></i></a>
        </div>
        {{/each}}
      </div>

    </div>
    {{!-- Attributes --}}
    {{> "systems/scum-and-villainy/templates/parts/attributes.html" actor=this}}
  </section>

</div>
