<div>
  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" data-action="editImage" title="{{actor.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'BITD.Name'}}"/></h1>
    </div>
  </header>

  <section class="flex-vertical">
  {{!--
  <label class="label-stripe">{{localize "BITD.Description"}}</label>
  <textarea rows="5" name="system.description">{{{system.description}}}</textarea>
  <label class="label-stripe">{{localize "BITD.Faction"}}</label>
  <textarea rows="1" name="system.faction">{{system.faction}}</textarea>
  <label class="label-stripe">{{localize "BITD.Tier"}}</label>
  <textarea rows="1" name="system.tier">{{system.tier}}</textarea> --}}
  <div class="label-stripe">{{localize "BITD.Goal"}}</div>
  <div class="flex-vertical" id="faction-goal-clock">
    <div id="faction-clock">
      {{{sav-clock "system.goal_clock.value" system.goal_clock.max system.goal_clock.value actor.id "blue"}}}
    </div>
    <div id="clock-max">
      <label>{{localize "BITD.GoalClockMax"}}:</label>
      <select id="max" name="system.goal_clock.max">
        {{{size_list}}}
      </select>
    </div>
  </div>
  <textarea rows="1" name="system.goal">{{system.goal}}</textarea>
  <div class="flex-vertical">
    <div class="label-stripe">{{localize "BITD.Notes"}}</div>
    <prose-mirror name="system.notes" value="{{system.notes}}" toggled{{#unless editable}} disabled{{/unless}}>{{{enrichedNotes}}}</prose-mirror>
  </div>

  </section>
</div>
