<div>
  <header class="sheet-header">
      <img src="{{item.img}}" data-edit="img" data-action="editImage" title="{{item.name}}"/>
      <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'BITD.Name'}}"/></h1>
      </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body flex-vertical">
    <label class="label-stripe">{{localize "BITD.Description"}}</label>
    <prose-mirror name="system.description" value="{{system.description}}" toggled{{#unless editable}} disabled{{/unless}}>{{{enrichedDescription}}}</prose-mirror>
    <div class="flex-horizontal">
      <div class="flex-vertical grow-two">
        <label class="label-stripe">{{localize "BITD.Price"}}</label>
        <textarea name="system.price">{{system.price}}</textarea>
      </div>
      <div class="flex-vertical grow-two">
        <label class="label-stripe">{{localize "BITD.UpgradeType"}}</label>
        <textarea name="system.class">{{system.class}}</textarea>
      </div>
    </div>
    {{#if isGM}}
      <div class="label-stripe">{{localize "BITD.Effects"}}</div>
      <div id="effects">{{> "systems/scum-and-villainy/templates/parts/active-effects.html"}}</div>
    {{/if}}
  </section>
</div>
